/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/car_images/
/public/images/profile/
/public/images/packageimg/
/public/images/complete_photo/
.idea
/.idea
